.footer {
  height: 340px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2f303a;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
  fill: #ffffff;
  color: #ffffff;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.copyright {
  color: rgba(255, 255, 255, 0.6);

  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

.policy {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}
