.gallery__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #188ce8;

  text-transform: uppercase;

  &::after {
    display: block;
    content: "";
    height: 2px;
    max-width: 240px;
    background-color: #757575;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gallery__item {
  flex-basis: calc((100% - 10px) / 2);

  border-radius: 3px;
  overflow: hidden;
}
