.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  fill: #212121;
  color: #212121;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: #2196f3;
}

.icon {
  color: currentColor;
}
